form label {
    float: right;
}
.row{
    margin-bottom: 5px;
}
.submit{
    margin-top: 1px;
   margin-right: 0px;
}
/*file*/
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #A1E3FF;
    display: inline-block;
    border-radius: 31px 31px 31px 31px;
-moz-border-radius: 31px 31px 31px 31px;
-webkit-border-radius: 31px 31px 31px 31px;
border: 0px solid #000000;

}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #ACF0F2;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.label_img{
	margin-top: 5px;
	float: none;
}
.basic-info{
	margin-top: 8px;
}
